@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
}
* { text-align: center; color:#fff; text-decoration: none;}

.bg-img{
  background: #fff url('images/backgroundkali.png') no-repeat center center /cover ;
  height: 100vh;
}
.navbar{
  color: #fff;
  background-color: none;
}

/*-- Social Media Styling -- */

.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}

.fa-google-plus-g{
  color: #dd4b39;
}

.fa-instagram{
  color: #517fa4;
}
.fa-youtube{
  color: #bb0000;
}

/*-- End of Social Media Styling -- */

.display-4{
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 1em;

}
.writer{
  padding-top: 50px;
  font-family: 'Patrick Hand', cursive;
}
.brand{
  margin-bottom: 0;
}
/*-- Pricing Section Header -- */
.planner{
color: #0052D4;
margin-top: 3em;
font-family: 'Life Savers', cursive;
font-weight: 700;
}
/*--End of Pricing Section Header-- */


/*-- Pricing Section -- */

section.pricing {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}
.kati{
  color: #000;
  font-size:
}

.fa-ul{
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
    color: #212529;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;

}
.klass{
  color: #000;
  text-align: start;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 2rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 1rem;
  color: #000;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
  text-align: start;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}


/*-- End of Pricing Section -- */

.pro{
  margin-top: 5em;
  color: #660066;
  font-family: 'Life Savers', cursive;
  font-weight: 700;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
#main{
  position: relative;
  background-color: #fff;
}
.pro.fade-in{
  opacity: 1;
  transform: translateY(0);
}
.ukwala{
  background: no-repeat center center /cover;
  width: 100%;
}

/*-- Heading 4 styling -- */
.head4{
  font-family: 'Abel', sans-serif;
  color: #660066;
}
/*-- End of Heading 4 styling -- */

/*-- Heading 3 styling -- */
.head3{
  font-family: 'Roboto Slab', serif;
  color: #660066;
}
/*-- End Heading 3 styling -- */

/*-- Paragraph styling -- */
.para{
font-family: 'Montserrat', sans-serif;
color: #660066;
font-weight: 300;
}
/*-- End of styling -- */

/*-- Kenya Flag image styling -- */
.flag{
  background: no-repeat center center /cover;
  width: 100%;
}
/*-- End of Kenya Flag image styling -- */

.exp{
  margin-top: 10em;
  color: #660066;
}


.story{
  color: #660066;
  padding-top: 10em;
  margin-bottom: 10em;
  margin-top: 2em;
  background-color: #ffccff;
  border: solid 5px #000;
}

.holiday{
  background: #fff url('images/backgroundkali.png') no-repeat center center /cover ;
}
.skill{
  margin-top: 5em;
}
.level{
  margin-top: 3em;
  color: #660066;
  font-family: 'Life Savers', cursive;
  font-weight: 700;
}


#sv{
width: 100%;
height: 100vh;
}

.vision{
  color: #660066;
  font-family: 'Life Savers', cursive;
  font-weight: 700;
}
.fa-users{
  color: red;
}

/*-- Emoji Section Styling --*/
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  width: 100%;
}
/* -- End of Emoji Section --*/

/* -- Carousel Section -- */

body {
	font-family: "Open Sans", sans-serif;

}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.testimonial{
  color: #660066;
}

/* End of Carousel Section --*/

/* -- Footer Begins Here -- */
.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
margin-bottom: 2em;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.section-heading {
    font-size: 2em;
    color: #000;
}

.pt-4{
    padding-top: 1.5rem!important;
}

.section-description{
  color: #000;
}

.fas {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
}

.grey-text{
  color: #9e9e9e!important;
}


.blue.accent-1 {
    background-color: #82b1ff!important;

}

.form-header{
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
color: #fff;
text-align: center;
margin-top: -3.13rem;
margin-bottom: 3rem;
padding: 1rem;
-webkit-border-radius: .125rem;
border-radius: .125rem;
}

.card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0!important;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card{
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25em;
}

.md-form .prefix~input{

    margin-left: 2.5rem;
    width: calc(100% - 2.5rem);
}

.md-form textarea.md-textarea {
    overflow-y: hidden;
    padding: 1.5rem 0;
    resize: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    box-sizing: content-box;
    background-color: transparent;
    outline: 0;
}

.md-form .prefix~textarea {
    margin-left: 2.5rem;
    width: calc(100% - 2.5rem);
}

.md-form .form-control{
  height: auto;
  margin: 0 0 .5rem 0;
  padding: .3rem 0 .55rem 0;
  background-image: none;
}

.md-form input[type=text]{
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-sizing: content-box;
  background-color: transparent;
}

.form-control{
  display: block;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
}

textarea{
  overflow: auto;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font: 400 13.3333px Arial;
  -webkit-writing-mode: horizontal-tb !important;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
    border-radius: 50%
}

.btn-floating{
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
position: relative;
z-index: 1;
vertical-align: middle;
overflow: hidden;
margin-bottom: 2em;
border-radius: 50%;
padding: 1.5em;
cursor: pointer;
}

.contact{
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.fa-user{
    float: left;
    font-size: 2em;
}

.jina{
  color: #000;

}
.barua{
  float: left;
  font-size: 2em;
}

.fa-tag{
  float: left;
  font-size: 2em;
}

.fa-pencil-alt{
  float: left;
  font-size: 2em;
}

*{
    box-sizing: border-box;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

label{
  display: inline-block;
  margin-bottom: .5em;
}




/* -- Footer Ends Here --*/


/* -- Return-to-top Begins Here --*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/* -- Back-To-Top Ends Here --*/


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
