@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
}
* { text-align: center; color:#fff; text-decoration: none;}

.bg-img{
  background: #fff url('images/backgroundkali.png') no-repeat center center /cover ;
  height: 100vh;
}
.navbar{
  color: #fff;
  background-color: none;
}
.display-4{
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 1em;

}
.writer{
  padding-top: 50px;
  font-family: 'Patrick Hand', cursive;
}
.pro{
  margin-top: 5em;
  color: #660066;
  font-family: 'Life Savers', cursive;
  font-weight: 700;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
#main{
  position: relative;
  background-color: #fff;
}
.pro.fade-in{
  opacity: 1;
  transform: translateY(0);
}
.ukwala{
  background: no-repeat center center /cover;
  width: 100%;
}

/*-- Heading 4 styling -- */
.head4{
  font-family: 'Abel', sans-serif;
  color: #660066;
}
/*-- End of Heading 4 styling -- */

/*-- Heading 3 styling -- */
.head3{
  font-family: 'Roboto Slab', serif;
  color: #660066;
}
/*-- End Heading 3 styling -- */

/*-- Paragraph styling -- */
.para{
font-family: 'Montserrat', sans-serif;
color: #660066;
font-weight: 300;
}
/*-- End of styling -- */

/*-- Kenya Flag image styling -- */
.flag{
  background: no-repeat center center /cover;
  width: 100%;
}
/*-- End of Kenya Flag image styling -- */

.exp{
  margin-top: 10em;
  color: #660066;
}

.jumbotron-fluid{
  background-color: #000000;
  padding: 5em;
}

.jumbo{
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.circle{
  margin-top: 1em;
  margin-bottom: 1em;
}


.story{
  color: #660066;
  padding-top: 10em;
  margin-bottom: 10em;
  margin-top: 2em;
  background-color: #ffccff;
  border: solid 5px #000;
}

.holiday{
  background: #fff url('images/backgroundkali.png') no-repeat center center /cover ;
}
.skill{
  margin-top: 5em;
}
.level{
  color: #660066;
}


#sv{
width: 100%;
height: 100vh;
}

.vision{
  color: #660066;
  font-family: 'Life Savers', cursive;
  font-weight: 700;
}
.fa-users{
  color: red;
}

/*-- Emoji Section Styling --*/
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  width: 100%;
}
/* -- End of Emoji Section --*/

/* -- Carousel Section -- */

body {
	font-family: "Open Sans", sans-serif;

}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.testimonial{
  color: #660066;
}

/* End of Carousel Section --*/

/* -- Footer Begins Here -- */
.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.section-description{
  color: #000;
  margin-top: 2em;
}

.section-heading{
  color: #000;
}

.form-header{
  background-color: DodgerBlue;
  padding: 1em;
}

.btn-floating{
  background-color: DodgerBlue;
  border: 1px solid DodgerBlue;
  padding: 10px;
  border-radius: 50%;
}

.fa-user{
color: grey;
}


/* -- Footer Ends Here --*/


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
